<!DOCTYPE html>
<html lang="en" {% if 'login' in request.endpoint %} class="is-clipped" {% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
        <title>Index</title>
    {% endblock %}
    
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-16x16.png') }}" sizes="16x16" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/fontawesome/all.js') }}"></script>
</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>

