{% extends "base.html" %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}


{% block content %}
<section class="section hero is-fullheight is-black">
        <div class="hero-body">
            <div class="container has-text-centered">
                <form method="POST" action="" class="">
                    {{ form.hidden_tag() }}
                    {% for category, message in get_flashed_messages(with_categories=true) %}
                        <div class="notification is-{{category}}">
                            {{ message }}
                        </div>
                    {% endfor %}
                        <div class="field">
                            {% if form.username.errors %}
                                {{ form.username(class="input is-danger is-rounded", placeholder="Username") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="input is-rounded", placeholder="Username", style="max-width:450px;") }}
                            {% endif %}
                        </div>
                        <div class="field">
                            {% if form.password.errors %}
                                {{ form.password(class="input is-danger is-rounded", placeholder="Password") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="input is-rounded", placeholder="Password", style="max-width:450px;") }}
                            {% endif %}
                        </div>
                        <div class="field">
                            {{ form.remember(class="checkbox") }}
                            {{ form.remember.label(class="form-check-label") }}
                        </div>
                        <div class="field">
                            {{ form.submit(class="button is-link is-outlined is-centered is-uppercase") }}
                        </div>
                </form>
            </div>
        </div>
</section>
{% endblock %}
